@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
}

.header-image {
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}

.header-image img {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
}

.nav-bar {
    list-style: none;
    font-weight: lighter;
    display: flex;
    gap: 1.5rem;
}

.nav .nav-bar li a {
    color: #ffffff;
    text-decoration: none;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
}

.logo {
    width: 20vw;
}

.head h3 {
    font-size: 2.1rem;
    color: whitesmoke;
    font-weight: 400;
}

.search {
    display: flex;
    width: 55vw;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 5px 4px;
}

.search .search-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search .search-item p {
    color: grey;
    border-right: 1px solid grey;
    font-size: 15px;
    padding-right: 3rem;
    margin: 10px;
}

.search .search-item input {
    outline: none;
    border: none;
    width: 200%;
    /* padding-left: 10px; */
    font-size: 15px;
}

.search .search-item:first-child {
    width: 30%;
    color: rgb(255, 126, 139);
}

.search .search-item:last-child {
    width: 70%;
    color: gray;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.section-1 .section-1-item {
    position: relative;
    /* width: 300px; */
    width: 15rem;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(228, 228, 228);
}

.section-1 .section-1-item img {
    width: 100%;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    z-index: -1;
}

.section-1 .section-1-item .items-details {
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 25%;
    z-index: 2;
}

.section-1 .section-1-item .items-details p {
    text-align: center;
}

.section-2 {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.section-2-heading {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
}

.section-2 .section-2-container .section-2-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-2 .section-2-container .section-2-items .section-2-item {
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(236, 236, 236);
    padding: 20px;
}

.section-2-item .item-head {
    font-size: 1.2rem;
    color: rgb(28, 28, 28);
    margin: 0;
    margin-bottom: 5px;
}

.section-2-item .item-subhead {
    font-weight: lighter;
    color: rgb(51, 51, 51);
    margin: 0;
}

.section-3 {
    height: 470px;
    background-color: rgb(255, 251, 247);
    /* background-color: red; */
}

.section-3-container {
    width: 900px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-img {
    width: 35%;
    margin-bottom: 3rem;
}

.section-3-img img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.section-3-content {
    margin-bottom: 5rem;
    width: 54%;
}

.section-3-content h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 15px;
}

.section-3-content p {
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 20px;
    color: rgb(54, 54, 54);
}

.section-3-download img {
    width: 30%;
}

.input-email {
    width: 100%;
}

.section-3-download p {
    font-size: 14px;
    color: #8a8383;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.input-email input {
    padding: 1.25rem 1.15rem;
    height: 0.5rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 0.12rem solid rgb(224, 53, 70);
    font-size: 18px;
    color: rgb(34, 26, 26);
    background: white;
    width: 60%;
    font-weight: lighter;
}

.input-email input::placeholder {
    color: rgb(182, 179, 179);
    font-weight: 2;
}

.input-email button {
    padding: 0.9rem 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #c93737;
    border: none;
    border-radius: 0.6rem;
    margin-left: 0.5rem;
}

.radio {
    margin-bottom: 1.3rem;
    height: 2rem;
}

.radio label {
    margin-right: 4rem;
    font-size: 18px;
    font-weight: 300;
    height: 1.4em;
}

.radio input {
    display: inline-block;
    margin: 0px;
    margin-right: 0.2rem;
    /* fill: red; */
    border: 10px;
    width: 1.3rem;
    height: 1.3em;
}

.footer {
    margin-top: 4rem;
}

.footer-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.footer-content {
    width: 85%;
    margin: auto;
    border-bottom: 1px solid #cec8c8;
    padding-bottom: 3rem;
}

.footer .footer-container .footer-logo {
    width: 85%;
    margin: auto;
}

.footer .footer-container .footer-logo img {
    width: 11%;
    /* margin-bottom: 1rem;
    margin-left: 7rem; */
}

.footer .footer-container .footer-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 4.5rem;
}

.footer .footer-container .footer-content .footer-content-item h4 {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0px;
}

.footer .footer-container .footer-content .footer-content-item p {
    line-height: 1.4rem;
    color: rgb(105, 105, 105);
    margin: 0.5rem 0px;
    font-size: 0.85rem;
}

.footer-icon i {
    margin-right: 0.5rem;
    background-color: #000000;
    padding: 3px;
    color: #ffffff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}

.footer-download img {
    width: 50%;
    display: block;
    margin-top: 1.1rem;
}

.rules {
    font-size: 0.83rem;
    color: rgb(79, 79, 79);
    width: 85%;
    margin: auto;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
}